<div class="container" style="display: flex; width: 100%; justify-content: center;">
    <igx-card class="loginPrompt">
        <igx-linear-bar *ngIf="!done" [indeterminate]="true" style="position: relative; top: 0; left: 0; "></igx-linear-bar>
        <igx-card-header>
            <h2 style="width: 100%; text-align: center">Become a part of Texter!</h2>
            <h3 style="width: 100%; text-align: center">Sign in!</h3>
        </igx-card-header>
        <igx-card-content style="text-align: center;">
            <div style="margin-bottom: 10px;">
                <igx-input-group>
                    <input #user igxInput placeholder="Username">
                </igx-input-group>
                <igx-input-group>
                    <input #pass igxInput type="password" placeholder="Password">
                    Password must be 8-64 character long and contain only letters, capital and normal, numbers and special symbols
                </igx-input-group>
                <igx-input-group>
                    <input #pass2 igxInput type="password" placeholder="Repeat Password">
                </igx-input-group>
            </div>
            <button igxButton igxRipple (click)="signin(user.value, pass.value, pass2.value)">Sign in</button>
            <div></div>
            Already have an account? <a routerLink="/logIn">Log in</a> now!
        </igx-card-content>
    </igx-card>
</div>