// CSS Reset, comment out if not required or using a different module
@import '~minireset.css/minireset';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: sans-serif; 
}