<igx-card *ngIf="article">
    <igx-card-header>
        <h5>{{article.Title}}</h5>
    </igx-card-header>
    <igx-card-content>
        <pre style="font: inherit">{{article.Content}}</pre>
    </igx-card-content>
    <igx-card-footer>
        <div style="display: flex; align-content: center;">
            <button [ngClass]="{ 'opinion': true, 'activated': liked }" igxRipple (click)="like(article.ID, 1)">
                <igx-icon>thumb_up</igx-icon>
            </button>
            {{likeAmount}}
            <button [ngClass]="{ 'opinion': true, 'activated': disliked }" igxRipple (click)="like(article.ID, -1)">
                <igx-icon>thumb_down</igx-icon>
            </button>
            {{dislikeAmount}}
        </div>
        <div class="owner" [routerLink]="'user/' + article.OwnerId">By {{username}}, {{toDateFormat(article.Date)}}</div>
    </igx-card-footer>
</igx-card>