igx-card {
    display: flex;
    width: 100%;
    padding: 10px;
    @media screen and (max-width: 800px) {
        width: 100%;
    }
    igx-card-header {
        h5 {
            padding: 0px;
            margin: 0;
            text-align: center;
            width: 100%;
        }
        padding: 5px;
    }
    igx-card-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .owner {
            text-align: right;
            font-size: 10px;
            outline: 0;
            cursor: pointer;
            user-select: none;
        }
        .opinion {
            position: relative;
            overflow: visible;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border: 0;
            padding: 5px;
            margin: 0 5px;
            outline: 0;
            color: #444;
            user-select: none;
            &.activated {
                color: #455fd1;
            }
            cursor: pointer;
        }
        * {
            user-select: none;
        }
    }
}