<div class="container" style="display: flex; width: 100%; justify-content: center;">
    <igx-card class="loginPrompt">
        <igx-linear-bar *ngIf="!done" [indeterminate]="true" style="position: relative; top: 0; left: 0; "></igx-linear-bar>
        <igx-card-header>
            <h2 style="width: 100%; text-align: center">Welcome back!</h2>
            <h3 style="width: 100%; text-align: center">Log in.</h3>
        </igx-card-header>
        <igx-card-content style="text-align: center;">
            <div style="margin-bottom: 10px;">
                <igx-input-group>
                    <input #user igxInput placeholder="Username">
                </igx-input-group>
                <igx-input-group>
                    <input #pass igxInput type="password" placeholder="Password">
                </igx-input-group>
            </div>
            <button igxButton igxRipple (click)="login(user.value, pass.value)">Log in</button>
            <div></div>
            Don't have a account? <a routerLink="/signin">Sign in</a> now!
        </igx-card-content>
    </igx-card>
</div>