/* CSS IS SHIT */

cssisshit::before {
    content: 'Thoose words contain so much wisdom and truth (yup, i wrote this whle trying to make a shitty menu with this unfinished shit called css)';
}

button {
    margin: 0 0.25em;
}

.label {
    padding: 0 20px;
}

.person {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #555;
    color: #fff;
    margin-right: 25px;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.phone {
    display: none;
}
.desktop {
    display: unset;
}

.account {
    user-select: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

    .bar {
        display: flex;
        align-items: center;

        .iconCont {
            display: inline-block;
            margin-left: 40px;
            .account {
                position: relative;
                display: flex;
                width: 40px;
                height: 40px;
                align-items: center;
                justify-content: center;
                border-radius: 1000px;
                background: #dde0dd;
                &:focus {
                    outline: 0;
                }
                overflow: hidden;
            }
        }
    }
    .search {
        width: 100%;
        input {
            width: 100%;
        }
    }
}
.searchResults {
    position: fixed;
    min-height:  10px;
    box-shadow: 0 0 10px #aaa;
    background-color: #fff;
    transition: 2s;
    overflow: hidden;
    .element {
        padding: 5px 20px;
        transition: .1s;
        user-select: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        position: relative;
        &:active {
            background-color: #ddd;
        }
    }
}
.messages {
    position: fixed;
    top: 75px;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    .message {
        opacity: .5;
        display: block;
        max-width: 300px;
        padding: 5px 10px;
        transition: .1s;

        .titleBar {
            display: flex;
            align-items: center;
            .title {
                flex: 1 1 auto;
                font-weight: 900;
                padding: 0 10px;
            }
            .close::before {
                transition: .1s;
                content: 'x';
                position: relative;
                top: -1px;
                font-size: 20px;
            }
            .close {
                float: right;
                justify-content: center;
                background-color: #e64022;
                border-radius: 100%;
                width: 30px;
                height: 30px;
                display: flex;
                box-shadow: 0 5px 10px #666;
                position: relative;
                transition: .1s;

                &:active {
                    background-color: #cc4a33;
                }
            }
        }

        .content {
            padding: 0;
            text-align: left;
        }

        background: #fff;
    }
    .message:hover {
        opacity: .8;
    }

    .error {
        box-shadow: inset 0px -15px 20px -10px #faa, 0 0 10px 0px #555;
    }

    .success {
        box-shadow: inset 0px -15px 20px -10px #afa, 0 0 10px 0px #555;
    }
}

@media only screen and (max-width: 800px) {
    .phone {
        display: unset;
    }
    .desktop {
        display: none;
    }

    .content {
        padding: 10px;
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .menu {
        box-shadow: 0 10px 20px #000000;
        bottom: 0;

        .items {
            display: flex;
            width: 100%;
            padding: 10px;
            justify-content: space-around;
            align-items: stretch;
            line-height: unset;
            background-color: #fff;
            position: relative;
            overflow: hidden;

            .button {
                background-color: transparent;
                min-width: unset;
                min-height: unset;
                width: 50px;
                height: 50px;
                padding: 0;
                display: flex;
                align-items: center;
                border-radius: 10px;
                background-color: transparent;
                overflow: visible;
                position: relative;
                flex-direction: column;
            }
            .button, .signinButton {
                .name {
                    margin-top: 10px;
                    color: rgb(131, 139, 143);
                    font-size: 10px;
                }
            }

            .bar {
                position: fixed;
                top: 0;
                width: 100%;
                padding: 10px 40px;
                background-color: #fff;
                box-shadow: 0 -10px 20px #000000;
                .search {
                    width: 100%;
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 801px) {
    .content {
        padding: 10px;
        padding-top: 100px;
    }
    .search {
        display: block;
        width: 100%;
        margin: 0 10px;
    }

    .menu {
        top: 0;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 -10px 20px #000;
        display: flex;
        align-items: center;

        .items {
            width: 100%;
            display: inline-block;
            display: flex;
            align-items: center;
            .bar {
                display: contents;
                flex: 1 1 auto;
            }
        }
    }
}