<div #menu class="menu phone">
    <div class="items">
        <button igxButton="icon" class="button" igxRipple *ngFor="let item of leftItems" [routerLink]="item.path">
            <igx-icon>{{item.icon}}</igx-icon>
        </button>
    </div>
    <div class="bar">
        <igx-input-group type="search" class="searchBar">
            <input igxInput type="text" name="search">
            <label igxLabel for="search">Start typing username or article title</label>
        </igx-input-group>
    </div>
</div>

<div class="content">
    <router-outlet></router-outlet>
</div>