button {
    margin: 0 0.25em;
}

.label {
    padding: 0 20px;
}

.person {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    background-color: #555;
    color: #fff;
    margin-right: 25px;
    overflow: hidden;
    width: 30px;
    height: 30px;
}

.phone {
    display: none;
}
.desktop {
    display: unset;
}

.account {
    user-select: none;
    cursor: pointer;
}

.menu {
    position: fixed;
    width: 100%;
    background-color: #fff;
    overflow: hidden;

    .bar {
        display: flex;
        align-items: center;

        .account {
            flex: 0 1 40px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            line-height: unset;
            margin-left: 40px;
            position: relative;
            user-select: none;
            overflow: hidden;
            border-radius: 100px;
            background: #dde0dd;
            &:focus {
                outline: 0;
            }
        }
            
        * {
            flex: 1 1 auto;
        }
    }
}
.searchResults {
    position: fixed;
    height:  300px;
    box-shadow: 0 0 10px #aaa;
    background-color: #fff;
}
.messages {
    position: fixed;
    top: 200px;
    right: 0;
    display: flex;
    flex-direction: column;
    user-select: none;
    .message {
        opacity: .5;
        display: block;
        max-width: 300px;
        padding: 5px 10px;
        transition: .1s;

        .titleBar {
            display: flex;
            align-items: center;
            .title {
                flex: 1 1 auto;
                font-weight: 900;
            }
            .close::before {
                content: 'x';
                position: relative;
                top: -8px;
            }
            .close {
                float: right;
                justify-content: center;
                background-color: #e64022;
                border: 1px solid #4a2321;
                border-radius: 100%;
                width: 15px;
                height: 15px;
                display: flex;
            }
        }

        .content {
            padding: 0;
            text-align: left;
        }
    }
    .message:hover {
        opacity: .8;
    }

    .error {
        background-color: #d6786d;
        border: 1px solid #4a2321;
    }

    .success {
        background-color: #a3d66d;
        border: 1px solid #536b39;
    }
}

@media only screen and (max-width: 800px) {
    .phone {
        display: unset;
    }
    .desktop {
        display: none;
    }

    .content {
        padding: 10px;
        padding-top: 100px;
    }

    .menu {
        box-shadow: 0 10px 20px #000000;
        bottom: 0;

        .items {
            display: flex;
            width: 100%;
            padding: 10px;
            justify-content: space-around;
            align-items: stretch;
            line-height: unset;
            background-color: #fff;
            position: relative;

            .button {
                background-color: transparent;
                min-width: unset;
                min-height: unset;
                width: 50px;
                height: 50px;
                padding: 0;
                display: flex;
                align-items: center;
                border-radius: 10px;
                background-color: transparent;
                overflow: visible;
                position: relative;
            }
        }

        .bar {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 10px 40px;
            background-color: #fff;
            box-shadow: 0 -10px 20px #000000;
        }
    }
}

@media only screen and (min-width: 801px) {
    .content {
        padding: 10px;
        padding-top: 100px;
    }

    .menu {
        top: 0;
        padding: 10px;
        margin-bottom: 10px;
        box-shadow: 0 -10px 20px #000;
        display: flex;
        align-items: center;

        .items {
            display: inline-block;
        }
        .bar {
            flex: 1 1 auto;
        }
    }
}