<div class="content">
    <router-outlet></router-outlet>
</div>

<div #menu class="menu">
    <div class="items">
        <button igxButton class="button" igxRipple [igxRippleCentered]="true" *ngFor="let item of leftItems"
            [routerLink]="item.path">
            <igx-icon class="phone" style="font-size: 20px;">{{item.icon}}</igx-icon>
            <span class="desktop">{{item.name}}</span>
        </button>
        <button igxButton class="button" igxRipple [igxRippleCentered]="true" [routerLink]="'/logIn'">
            <igx-icon class="phone" style="font-size: 20px;">exit_to_app</igx-icon>
            <span class="desktop">Login</span>
        </button>
    </div>
    <div class="bar">
        <div class="searchBar">
            <igx-input-group type="search" class="search">
                <input igxInput type="text" name="search" #search>
                <label igxLabel for="search">Search</label>
            </igx-input-group>
        </div>
        <igx-icon class="account" *ngIf="gs.loggedIn" igxRipple [routerLink]="'user/' + gs.userId">person</igx-icon>
    </div>
</div>

<div class="searchResults" #results></div>
