button {
    margin: 0 0.25em;
}

.phone {
    display: none;
}
.desktop {
    display: unset;
}

@media only screen and (max-width: 800px) {
    .phone {
        display: unset;
    }
    .desktop {
        display: none;
    }

    .content {
        padding: 10px;
    }

    .menu {
        position: fixed;
        bottom: 0;
        width: 100%;
        .items {
            display: flex;
            width: 100%;
            padding: 10px;
            justify-content: space-around;
            align-items: stretch;
            line-height: unset;

            button {
                min-width: unset;
                min-height: unset;
                width: 50px;
                height: 50px;
                padding: 0;
                display: flex;
                align-items: center;
                flex: 1 1 1;
                border-radius: 10px;
                background-color: transparent;
            }
        }

        .bar {
            position: fixed;
            top: 0;
            width: 100%;
            padding: 5px;
        }
    }
}

@media only screen and (min-width: 800px) {
    .content {
        padding: 10px;
        padding-top: 50px;
    }

    .menu {
        position: fixed;
        top: 0;
        .items {
            padding: 10px;
            margin-bottom: 10px;
            box-shadow: 0 -12.5px 25px #555;
            width: 100%;
            background-color: #fff;
            width: 100%;
        }
    }
}