<div class="toolbar">
    <div class="leftItems">
        <button class="a" igxButton igxRipple routerLink="/">Home</button>
        <button class="a" igxButton igxRipple routerLink="/allUsers">All users</button>
        <button class="a" igxButton igxRipple routerLink="/allArticles">All articles</button>
    </div>
    <div class="toolbarDivider"></div>
    <div class="rightItems">
        <button class="a" igxButton igxRipple routerLink="/logIn">Log in</button>
        <button class="a" igxButton igxRipple routerLink="/signIn">Sign in</button>
    </div>
</div>
<div style="padding: 1em">
    <router-outlet></router-outlet>
</div>