<!-- <mat-toolbar color="primary">
    <button igxButton igxRipple routerLink="/">Home</button>
    <button igxButton igxRipple routerLink="/allUsers">All users</button>
    <button igxButton igxRipple routerLink="/allArticles">All articles</button>
    <button igxButton igxRipple routerLink="/logIn" style="float: right">Log in</button>
    <button igxButton igxRipple routerLink="/signIn" style="float: right">Sign in</button>
</mat-toolbar> -->
<div style="padding: 1em">
    <!-- <router-outlet></router-outlet> -->
</div>
<button igxButton="flat">Flat</button>
