<mat-toolbar style="display: inline-block; padding: .5ng em 0; height: auto" color="primary">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/allUsers">All users</button>
    <button mat-button routerLink="/allArticles">All articles</button>
    <button mat-button routerLink="/logIn" style="float: right">Log in</button>
    <button mat-button routerLink="/signIn" style="float: right">Sign in</button>
</mat-toolbar>
<div style="padding: 1em">
    <router-outlet></router-outlet>
</div>